<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="GET" action="/">
        <label for="query"></label><input name="query" id="query" type="text">
        <button type="submit">Search</button>
        </form>

        {% if result %}
        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
            </tr>
            {% for res in result %}
            <tr>
                <td>{{ res.title }}</td>
                <td>{{ res.text }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>